.bg-primary {
    background-color: #6777ef !important;
    height: 100%;
}

.bg-primary-nav {
    background-color: #ffffff !important;
    height: 100%;
}

.bg-secondary {
    background-color: #cbd1fe !important;
    height: 100%;
}

.btn-skill {
    color: white;
    background-color: #eb9481;
    border-radius: 30px;
}

.btn-status {
    border-radius: 15px;
}

.btn-status.btn-warning {
    color: white;
    background-color: #eb9481;
    border-color: #eb9481;
}

.btn-status.btn-success {
    color: white;
    background-color: #4ed373;
    border-color: #4ed373;
}

.btn.btn-skill:hover,
.btn.btn-skill:active {
    background-color: #eb9481;
    color: white;
    border-color: #eb9481;
    cursor: default;
}

.btn.btn-status:hover,
.btn.btn-status:active {
    cursor: default;
}

.btn.btn-status.btn-success:hover,
.btn.btn-status.btn-success:active {
    background-color: #4ed373;
    border-color: #4ed373;
}

.btn.btn-status.btn-secondary:hover,
.btn.btn-status.btn-secondary:active {
    background-color: #cdd3d8;
    border-color: #cdd3d8;
}

.btn.btn-status.btn-warning:hover,
.btn.btn-status.btn-warning:active {
    background-color: #eb9481;
    border-color: #eb9481;
}

.time {
    color: #8a8a8a;
}

.text-warning {
    color: #eb9481;
}

.text-primary,
.text-primary-all *,
.text-primary-all *:before,
.text-primary-all *:after {
    color: #6777ef !important;
}

.btn-primary {
    background-color: #6777ef;
    border-color: #6777ef;
}

.btn-primary:hover {
    background-color: #6777efe1;
    border-color: #6777efe1;
}

.btn-outline-primary {
    border-color: #6777ef;
}

.btn-outline-primary:hover {
    background-color: #6777ef;
    border-color: #6777ef;
}

.btn-secondary {
    background-color: #cdd3d8;
    border-color: #cdd3d8;
}

.btn-secondary:hover {
    background-color: #c3c8cc;
    border-color: #cdd3d8;
}

.btn-success {
    background-color: #4ed373;
    border-color: #4ed373;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-outline-warning {
    background-color: #eb9481;
    border-color: #eb9481;
}

.card-primary {
    border-top: 2px solid #6777ef;
}

.card-primary-left {
    border-left: 2px solid #6777ef;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown-item.has-icon i {
    margin-top: -1px;
    font-size: 13px;
}

.dropdown-menu {
    box-shadow: 0 10px 40px 0 rgba(51, 73, 94, 0.15);
    border: none;
    width: 200px;
}
.dropdown-menu.show {
    display: block !important;
}
.dropdown-menu a {
    font-size: 13px;
}
.dropdown-menu .dropdown-title {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #191d21 !important;
    padding: 10px 20px;
    line-height: 20px;
    color: #98a6ad;
}
.dropdown-menu.dropdown-menu-sm a {
    font-size: 14px;
    letter-spacing: normal;
    padding: 10px 20px;
    color: #6c757d;
}

a.dropdown-item {
    padding: 10px 20px;
    font-weight: 500;
    line-height: 1.2;
}
a.dropdown-item:focus,
a.dropdown-item:active,
a.dropdown-item.active {
    background-color: #6777ef;
    color: #fff !important;
}

.dropdown-divider {
    border-top-color: #f9f9f9;
}

.dropdown-list {
    width: 350px;
    padding: 0;
}
.dropdown-list .dropdown-item {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    border-bottom: 1px solid #f9f9f9;
}
.dropdown-list .dropdown-item.dropdown-item-header:hover {
    background-color: transparent;
}
.dropdown-list .dropdown-item .time {
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5px;
}
.dropdown-list .dropdown-item .dropdown-item-avatar {
    float: left;
    width: 40px;
    text-align: right;
    position: relative;
}
.dropdown-list .dropdown-item .dropdown-item-avatar img {
    width: 100%;
}
.dropdown-list .dropdown-item .dropdown-item-avatar .is-online {
    position: absolute;
    bottom: 0;
    right: 0;
}
.dropdown-list .dropdown-item .dropdown-item-desc {
    line-height: 24px;
    white-space: normal;
    color: #34395e;
    margin-left: 60px;
}
.dropdown-list .dropdown-item .dropdown-item-desc b {
    font-weight: 600;
    color: #666;
}
.dropdown-list .dropdown-item .dropdown-item-desc p {
    margin-bottom: 0;
}
.dropdown-list .dropdown-item:focus {
    background-color: #6777ef;
}
.dropdown-list .dropdown-item:focus .dropdown-item-desc {
    color: #fff !important;
}
.dropdown-list .dropdown-item:focus .dropdown-item-desc b {
    color: #fff !important;
}
.dropdown-list .dropdown-item.dropdown-item-unread:active .dropdown-item-desc {
    color: #6c757d;
}
.dropdown-list
    .dropdown-item.dropdown-item-unread:active
    .dropdown-item-desc
    b {
    color: #6c757d;
}
.dropdown-list .dropdown-item:active .dropdown-item-desc {
    color: #fff;
}
.dropdown-list .dropdown-item:active .dropdown-item-desc b {
    color: #fff;
}
.dropdown-list .dropdown-item.dropdown-item-unread {
    background-color: #fbfbfb;
    border-bottom-color: #f2f2f2;
}
.dropdown-list .dropdown-item.dropdown-item-unread:focus .dropdown-item-desc {
    color: #6c757d !important;
}
.dropdown-list .dropdown-item.dropdown-item-unread:focus .dropdown-item-desc b {
    color: #6c757d !important;
}
.dropdown-list .dropdown-footer,
.dropdown-list .dropdown-header {
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 15px;
}
.dropdown-list .dropdown-footer a,
.dropdown-list .dropdown-header a {
    font-weight: 600;
}
.dropdown-list .dropdown-list-content {
    height: 350px;
    overflow: hidden;
}
.dropdown-list .dropdown-list-content:not(.is-end):after {
    content: " ";
    position: absolute;
    bottom: 46px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.8)
    );
    height: 60px;
}
.dropdown-list .dropdown-list-icons .dropdown-item {
    display: flex;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon {
    flex-shrink: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon i {
    margin: 0;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc {
    margin-left: 15px;
    line-height: 20px;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc .time {
    margin-top: 5px;
}

.dropdown-flag .dropdown-item {
    font-weight: 600;
}
.dropdown-flag .dropdown-item .flag-icon {
    width: 20px;
    height: 13px;
    margin-right: 7px;
    margin-top: -6px;
}
.dropdown-flag .dropdown-item.active {
    background-color: #6777ef;
    color: #fff;
}
/* Custom CSS to style horizontal scroll with arrow indicators */
.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll .scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 1;
}

.horizontal-scroll .scroll-arrow.left {
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.horizontal-scroll .scroll-arrow.right {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.horizontal-scroll .scroll-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    font-weight: bold;
}

.scroll-arrow.left {
    left: 10px;
}

.scroll-arrow.right {
    right: 10px;
}

.equal-height-cards {
    display: flex;
    align-items: stretch;
}

.fixed-height-image {
    height: 175px;
    width: 100%;
    object-fit: cover;
    background-color: #c4ccd5;
}

.overlap-text {
    margin-top: 120px;
    position: relative;
    z-index: 1;
}

.overlap-text-2 {
    position: relative;
    z-index: 1;
}

.position-relative {
    position: relative;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0.6)
    );
    pointer-events: none;
    z-index: 1;
}

.fixed-height-image {
    height: 175px;
    width: 100%;
    object-fit: cover;
    background-color: #c4ccd5;
    z-index: 0;
    opacity: 0.6;
    filter: grayscale(30%);
}

.input-group-text {
    background-color: transparent;
    border-radius: 15px;
}

.form-jobs {
    border-left: none;
    border-right: none;
    border-radius: 15px;
    height: 42px;
}

.form-jobs:focus {
    outline: none;
    border-color: #ced4da;
    box-shadow: none;
}

.page-item .page-link {
    color: #6777ef;
    border-radius: 60px;
    padding: 10px 16px;
    margin: 0 5px;
    font-weight: bold;
}

.page-item.active .page-link {
    background-color: #6777ef;
    border-color: #6777ef;
}

.page-item.disabled .page-link {
    border-color: transparent;
    background-color: #f9fafe;
    color: #6777ef;
    opacity: 0.6;
}

.page-link {
    border-color: transparent;
    background-color: #f9fafe;
    font-weight: 600;
}
.page-link:hover {
    background-color: #6777ef;
    color: #fff;
    border-color: transparent;
}
.page-link:focus {
    box-shadow: none;
}

li {
    font-size: 14px;
}

li.p-loker {
    font-size: 18px;
}

.img-icon {
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.img-show {
    position: relative;
    overflow: hidden;
}

.form-show {
    border: none;
    color: black;
    resize: none;
}

.card-contact {
    border-radius: 15px;
    box-shadow: 0 10px 40px 0 rgba(51, 73, 94, 0.15);
}

.label-title {
    font-size: 14px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-control.is-invalid {
    border-color: #e5e7fc;
}

.form-control.is-invalid:focus {
    border-color: #e5e7fc;
    box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath d='M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z'%3E%3C/path%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    opacity: 0.8;
    cursor: pointer;
    padding-right: 20px;
}

.form-message {
    resize: none;
    border-radius: 15px;
}

.form-show:disabled {
    background-color: transparent;
}

.note-editor {
    box-shadow: none !important;
    resize: none !important;
    border-radius: 15px;
    background-color: #fdfdff;
}

.note-toolbar {
    background-color: #fdfdff;
    border-radius: 15px;
    border-bottom: none;
}

.note-status-output,
.note-resizebar {
    display: none !important;
    border-radius: 15px;
}

.radio-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.form-loker {
    border-radius: 15px;
    border-color: #edeefd;
    background-color: #fdfdff;
}

.form-loker:focus {
    border-color: #95a0f4;
}

.text-loker {
    resize: none;
    border-color: #edeefd;
    background-color: #fdfdff;
    border-radius: 15px;
}

.text-loker:focus {
    border-color: #95a0f4;
}

.select2 {
    width: 100% !important;
}

.select2-container--default
    .select2-search--dropdown
    .select2-search__field:focus {
    outline: none;
    box-shadow: none;
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 42px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    background-color: #fdfdff;
    border-color: #e4e6fc;
    border-radius: 15px;
    padding-top: 3px;
    padding-left: 3px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 42px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    background-color: #fdfdff;
    border-color: #e4e6fc;
    border-radius: 15px;
    padding-left: 3px;
    padding-bottom: 4px;
}

.select2-dropdown {
    border-color: #e4e6fc !important;
}

.select2-container.select2-container--open .select2-selection--multiple {
    background-color: #fefeff;
    border-color: #95a0f4;
}

.select2-container.select2-container--focus .select2-selection--multiple,
.select2-container.select2-container--focus .select2-selection--single {
    background-color: #fefeff;
    border-color: #95a0f4;
}

.select2-container.select2-container--open .select2-selection--single {
    background-color: #fefeff;
    border-color: #95a0f4;
}

.select2-results__option {
    padding: 10px;
}

.select2-search--dropdown .select2-search__field {
    padding: 7px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    min-height: 42px;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__arrow,
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
    min-height: 42px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    color: #fff;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    margin-right: 5px;
    color: #fff;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice,
.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #6777ef;
    color: #fff;
}

.select2-results__option {
    padding-right: 10px 15px;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #eb9481;
    border-color: #eb9481;
}

select.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff;
    cursor: pointer;
}

select.custom-select option {
    background: #ffffff;
    color: #333333;
}

select.custom-select option:checked {
    background: #1967d2;
    color: #ffffff;
}

select.custom-select option:disabled {
    background: #f0f0f0;
    color: #999999;
    cursor: not-allowed;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    margin-top: 2px;
    color: black;
}

.detail-header {
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.logo-container {
    position: relative;
    overflow: hidden;
    margin-top: -40%;
}

.logo-container::before {
    content: "";
    position: absolute;
    background-color: white;
    transform: translateY(-50%);
    z-index: 1;
}

.logo-container img {
    position: relative;
    z-index: 2;
}
